body{
    font-family: Lato;
    margin: 0;
}

.container {
    max-width: 960px;
    width: 100%;
}

h2.title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}

.chart {
    display: inline-block;
    float: left;
}

.chart_smallMultiples {
    overflow-y: auto;
}

.city{
    display: inline-block;
    padding: 50px;
}
.race{
    display: inline-block;
    margin-right: 10px;
}
.race.total{
    display: none !important;
}
.cityName{
    font-size: 18px;
    font-weight: bold;
}
.raceName{
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 15px;
}
.metric{
    display: block;
}
.metric.hide, .city.hide{
    display: none;
}
.metric.noHide{
    display: block !important;
}
.city.noHide{
    display: inline-block !important;
}
.metricName{
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 50px;

}

/****************** SELECTOR STYLES ******************/
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 20px;
    /*display: inline-block;*/
    /*float: left;*/
}

.btnContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
}

.btnContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.flatRadioBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #353535;
    border-radius: 50%;
}

.btnContainer input:checked ~ .flatRadioBtn {
    background-color: #1696d2;
    border: 1px solid #1696d2;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#metrics-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   /* remove default arrow */
    width: 330px;
    height: 50px;
    /*background: #ffffff;*/
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-family: Lato;
    cursor: pointer;
    background: url("../img/arrow-blue.png") 96% / 15% no-repeat #ffffff;
    background-size: auto;
}

#states-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   /* remove default arrow */
    width: 260px;
    height: 50px;
    /*background: #ffffff;*/
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-family: Lato;
    cursor: pointer;
    background: url("../img/arrow-blue.png") 96% / 15% no-repeat #ffffff;
    background-size: auto;
}

#msas-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   /* remove default arrow */
    width: 430px;
    height: 50px;
    /*background: #ffffff;*/
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-family: Lato;
    cursor: pointer;
    background: url("../img/arrow-blue.png") 96% / 15% no-repeat #ffffff;
    background-size: auto;
}

/*select::-ms-expand {
    display: none;
}
*/
/* https://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
/*
select:focus::-ms-value {
    color: #1696d2;
    background: none;
}
option {
    background: #ffffff;
}*/

/* https://stackoverflow.com/questions/13694271/modify-select-so-only-the-first-one-is-gray
select:invalid,
select option[value=""] {
    color: #353535;
}*/

.ui-selectmenu-menu .ui-menu {
    max-height: 300px;
}

.ui-selectmenu-text {
    font-size: 22px;
    font-weight: normal;
    color: #353535;
    width: 90%;
    left: 11px;
    top: 2px;
}

/*****************************************************/




/****************** CHART STYLES *********************/
.race.dot{
    fill: #1696d2;
}

.statelocal.dot{
    fill: #696969;
}

.national.dot {
    fill: #55b748;
}

.race.moe{
    fill: #73bfe2;
}

.statelocal.moe{
    fill: #d2d2d2;
}

.national.moe {
    fill: #78c26d;
}

.insig{
    opacity: .4;
}

.y-axis path.domain {
    stroke: none;
}

.y-axis .tick line {
    stroke: #d2d2d2;
}

text {
    font-family: Lato;
}

.tick text {
    font-size: 12px;
}

.btn{
    display: inline-block;
    padding: 10px;
    background: #d2d2d2;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}
.btn.active{
    background: #1696d2;
    color: #fff;
}