body{
    font-family: Lato;
}

.container {
    max-width: 960px;
    width: 100%;
}

.chart {
    display: inline-block;
    float: left;
}

.chart_smallMultiples {
    overflow-y: auto;
}

.city{
    display: inline-block;
    padding: 50px;
}
.race{
    display: inline-block;
    margin-right: 10px;
}
.race.total{
    display: none !important;
}
.cityName{
    font-size: 18px;
    font-weight: bold;
}
.raceName{
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 15px;
}
.metric{
    display: block;
}
.metric.hide, .city.hide{
    display: none;
}
.metric.noHide{
    display: block !important;
}
.city.noHide{
    display: inline-block !important;
}
.metricName{
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 50px;

}

/****************** SELECTOR STYLES ******************/
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/*****************************************************/




/****************** CHART STYLES *********************/
.race.dot{
    fill: #1696d2;
}

.statelocal.dot{
    fill: #696969;
}

.national.dot {
    fill: #55b748;
}

.race.moe{
    fill: #73bfe2;
}

.statelocal.moe{
    fill: #d2d2d2;
}

.national.moe {
    fill: #78c26d;
}

.insig{
    opacity: .4;
}

.y-axis path.domain {
    stroke: none;
}

.y-axis .tick line {
    stroke: #d2d2d2;
}

text {
    font-family: Lato;
}

.tick text {
    font-size: 12px;
}

.btn{
    display: inline-block;
    padding: 10px;
    background: #d2d2d2;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}
.btn.active{
    background: #1696d2;
    color: #fff;
}